# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/

# Environment variables file
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest cache
.pytest_cache/

# IDE settings
.vscode/
.idea/

test_backend.py
